{% extends "paginas/base_paginas.html" %}
{% load static %}

{% block content %}

<button type="button"><a href=" {% url "index" %}">Voltar</a></button>
<h1>Produtos</h1>

<ul>
  <form method="get" class="form-inline mb-3">
    <input type="text" name="produto" class="form-control mr-2" placeholder="Pesquisar produtos..." value="{{ request.GET.produto }}">
    <input type="text" name="preco_min" class="form-control mr-2" placeholder="Preço mínimo" value="{{ request.GET.preco_min }}">
    <input type="text" name="preco_max" class="form-control mr-2" placeholder="Preço máximo" value="{{ request.GET.preco_max }}">
    
    <button type="submit" class="btn btn-primary">Pesquisar</button>
  </form>
  
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Codigo</th>
      <th scope="col">Preço</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Data Criação</th>
    </tr>
  </thead>
  <tbody>
  {% for produto in produtos %}   
    <tr>
      <th scope="row"> {{ produto.id }}</th>
      <td>{{ produto.nome }}</td>
      <td>{{ produto.codigo }}</td>
      <td>{{ produto.preco }}</td>
      <td>{{ produto.quantidade }}</td>
      <td>{{ produto.data_criacao }}</td>
    </tr> 
  {% endfor %}
  </tbody>
  </table>

  {% comment %} com {{ request.GET.urlencode }} não preciso de if e não preciso passar mais o queryset {% endcomment %}
  {% if page_obj.has_previous %}
    <a href="?page=1{{ request.GET.urlencode }}">&laquo; Primeira</a>
    <a href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode }}">Anterior</a>
  {% endif %}
  
  <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
  
  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode }}">Próxima</a>
    <a href="?page={{ page_obj.paginator.num_pages }}&{{ request.GET.urlencode }}">Última &raquo;</a>
  {% endif %}


</ul>

<a href=" {% url "create_produto" %}">
    <button type="button" class="btn btn-success">Adicionar</button>
</a>
{% endblock %}